* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

:root {
    --bg-color-card : #7e0114d0;
    --bg-color-txt-ctn: #8f1c2d;

    --color-name : #eee6d5;
    --color-txt: #EAE1B8;

    --color-anthracite : #4d4949;
    --color-creme : #eee6d5;

    --clr-border-txt-ctn : #EAE1B8; /*color cadre.png*/    
  }

@font-face {
    font-family: "Edwardian";
    src: url("../assets/Edwardian Script ITC.ttf") format("truetype");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;
}

#mainContainer {
    position: relative;
    height: 100vh;
}

#card {
    position: relative;
    width: 100%;
    height: 100%;
    
    transform-style: preserve-3d;
    transition: 1s ease-in-out;
    
    background-color: var(--bg-color-card);
}

#front, #back {
    background-image: url('../assets/Scandi-08.webp');
    background-size: contain;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-width: 300px;
    width: 57vw;
    height : 75vh;
    padding: 0 14px;
    
    text-align: center;
    border: 2px solid var(--clr-border-txt-ctn);
    background-color: var(--bg-color-txt-ctn);
}

.text-container img {
    position: absolute;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: calc(17px + 0.390625vw);
    font-weight: normal;
    color : var(--color-txt);
    text-shadow: 2px 2px 2px rgb(75, 70, 63);
}

h2 p {
    position: relative;
    cursor: pointer;
    z-index: 9;
}

h2 p:hover {
    text-decoration: underline;
    text-shadow: none;
} 

#front {
    height: 100%;
    backface-visibility: hidden; /*l'élément sera invisible quand retourné*/
}

#name {
    font-family: 'Edwardian', cursive, sans-serif;
    font-size: clamp(50px, 9.3vw, 90px);

    color: var(--color-name);
}

ul {
    margin: 3.5vw 0 4vw 0;

    list-style-type: none;
    line-height: 35px;
}

#back {
    position: absolute;
    inset: 0;

    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#back a {
    color: var(--color-txt);
    cursor: pointer;
    z-index: 10;
}

/* .mail_copied {
    font-size: calc(8px + 0.390625vw);
    font-weight: 600;
    background: #e6cdb1;
    color:rgb(49, 47, 46);
    padding : 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-shadow: none;
    border: 1px solid black;

} */

.svg-container {
    display: flex;
    gap: 20px;

    margin: 30px 0 40px 0;
}

svg {
    width : 32px;
    height: auto;
    filter : drop-shadow(0px 0px 8px var(--color-anthracite));
}

svg:hover {
    filter : drop-shadow(0px 0px 8px var(--color-creme));
}

#btn-recto,
#btn-verso
 {
    width: 160px;
    padding: 5px 2px;
    
     font-style: italic;
     font-size: 20px;

    color: #EAE1B8;
    background: var(--color-anthracite);
    box-shadow: 0px 0px 20px #EAE1B8 ;

    border : 2px solid var(--color-anthracite);    
    border-radius: 5px;

    cursor: pointer;
    z-index: 10;
}

#btn-verso
 {
    z-index: 9;
 }

#btn-recto:hover,
#btn-verso:hover
 {
    border : 2px solid var(--color-anthracite);
    box-shadow: 0px 0px 20px var(--color-anthracite);
 }

@media screen and (width < 767px) {
    #btn-recto,
    #btn-verso {
        margin-top: 30px;
    }
}
